<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Document</title>
</head>
<body>
<center>
    <h1 style="margin:2px;">Grantt Chart</h1> <br>
<table border="3" style="width: 50%;border-collapse: collapse;">
    <tr>
{% for process in dict2%}
        <th>
            {{process[0]}}
        </th>
{% endfor %}
    </tr>
</table>
<h3 style="margin:5px;">Turn Around Time: </h3><b class="val">{{tt}}</b><br>
<h3 style="margin:5px;">Waiting Time: </h3><b class="val">{{wt}}</b><br>
<h3 style="margin:5px;">Response Time: </h3><b class="val">{{rt}}</b><br>
<h3 style="margin:5px;">Average Turn Around Time: </h3><b class="val">{{att}}</b><br>
<h3 style="margin:5px;">Average Waiting Time: </h3><b class="val">{{awt}}</b><br>
<h3 style="margin:5px;">Average Response Time: </h3><b class="val">{{art}}</b><br>
<!-- <h3 style="margin:5px;">CPU Utilization: </h3><b class="val">{{cu}}</b><br> -->
</center>
</body>
</html>